body {
  background: #eee;
  font-family: arial, helvetica, sans-serif;
}


section.location {
  width: 100%;
  text-align: center;
  background: #333;
  color: #eee;
  padding: 1em 0em;
}

section.location span.station-name {
  font-size: 200%;
  font-weight: bold;
}

section.location span.distance {
  font-size: 200%;
  font-weight: bold;
}

section.departures li {
  background: #bbb;
  margin: 0.5em;
}

section.departures h1 {
  font-size: 35pt;
  /*float: left;*/
}

section.departures .advice {
  font-size: 30pt;
  font-style: italic;
  /*float: right;*/
}
section.departures .details {
}
