extends layout

block content
  body
    section.location
      .station
        span.station-name
          =stationName
        |  is your nearest BART station.
      .distance
        | It's about
        span.distance  
          =distance
        |  away.

    section.departures
      ul
        each etd in etds
          li
            h1
              =etd.destName
              |  train
            .advice
               | Will you make it?
            .details
              .etd
                |  Train leaves in 
                = etd.departing
                |  minutes
