extends layout

block content
  body
    h1
      |  Pick a station
    h3
      |  (In the final app you'd be automagically directed to your nearest station based on geolocation)
    ul
      each station in stations
        li
          a(href=station.link)
            =station.desc
